@import "tailwindcss";

/* This enables manual dark mode in Tailwind v4 */
@theme {
  --color-primary: #3b82f6;
}

/* This tells Tailwind to apply dark styles if a parent has .dark */
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}